# Cache
__pycache__/
*__pycache__/
**__pycache__/

*.pyc
**.pyc

# Editor and Notebook
.DS_Store
*.DS_Store
**.DS_Store
.csv
*.csv
**.csv
.vscode
.ipynb_checkpoints/
*.ipynb_checkpoints/
**.ipynb_checkpoints/
