# Cache
__pycache__/
*__pycache__/
**__pycache__/

*.pyc
**.pyc
Notebooks/R-Imputation.nb.html
Notebooks/R-Imputation.Rmd
Notebooks/time-series-analysis-of-sunspots.ipynb
Notebooks/sine_cosine.png
sunspot-time-series-data.ipynb
# Editor and Notebook
.DS_Store
*.DS_Store
**.DS_Store
.csv
*.csv
**.csv
.xls
*.xls
**.xls
.txt
*.txt
**.txt
.vscode
.ipynb_checkpoints/
*.ipynb_checkpoints/
**.ipynb_checkpoints/
